<a class="get-recipe-button" (click)="getRecipes()">Get recipes</a>
<button class="filter-recipes-button" (click)="filterRecipes('starter')">
  Starters
</button>
<button class="filter-recipes-button" (click)="filterRecipes('main course')">
  Main Courses
</button>
<button class="filter-recipes-button" (click)="filterRecipes('side dish')">
  Side dishes
</button>
<button class="filter-recipes-button" (click)="resetFilters()">Show all</button>
<div class="card-container" *ngFor="let recipe of recipes?.recipes">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ recipe?.image }}"
      alt="Card
    image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ recipe?.title }}</h5>
      <a href="#" class="btn btn-primary">Show Recipe</a>
      <button class="btn btn-secondary" (click)="saveUserRecipe(recipe)">
        Save
      </button>
    </div>
  </div>
</div>
