<!-- <div class="card-container" *ngFor="let recipe of userRecipes">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ recipe?.image }}"
      alt="Card
      image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ recipe?.title }}</h5>
      <button class="btn btn-primary" (click)="onSelect(recipe.id)">
        Show Recipe
      </button>
      <button class="btn btn-secondary" (click)="deleteUserRecipe(recipe)">
        Delete
      </button>
    </div>
  </div>
</div> -->

<div class="container-fluid" *ngFor="let recipe of userRecipes">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{{ recipe?.image }}" alt="{{ recipe?.title }} image" />
        <div class="ca1ption">
          <h3>{{ recipe?.title }}</h3>
          <p>
            <button class="btn btn-primary" (click)="onSelect(recipe.id)">
              Show Recipe
            </button>
            <button
              class="btn btn-secondary"
              (click)="deleteUserRecipe(recipe)"
            >
              Delete
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
