<div class="auth-wrapper">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <!-- Create Recipe List -->
    <div class="form-group">
      <label>Title</label>
      <input type="title" class="form-control" formControlName="title" />
    </div>
    <button type="submit" class="btn btn-block btn-primary">Create</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of allRecipeLists">
        <td>{{ list?.id }}</td>
        <td>{{ list?.title }}</td>
        <td>
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
